:root {
	--header-bg: #463c2f;
	--footer-bg: #343130;
	--active-nav-link: #f7f3ec;
	--inactive-nav-link: #afa9a3;
	--showcase-background: #f7f3ec;
	--showcase-slideshow-bg: #584b3b;
	--showcase-content: #d0cbc3;
	--section-title: #706e6a;
	--location-bg: #ece2d1;
	--contact-cta: #879f55;
}